extends ../layout

block content
    link(rel="stylesheet", href="/css/main.css")
    script(src="/js/main.js")
    form.memo(method="POST",enctype="multipart/form-data")
        fieldset 
            legend 메모 입력
            div 
                input(type="text",placeholder="제목을 입력하세요")
                input(type="text",placeholder="내용을 입력하세요")
            div.img_box
                img.img_add(src="",width="100px",height="100px",alt="추가")
                input(type="text")
            div.btn_box
                input(type="submit", value="저장")