extends ../layout

block content 
    link(rel="stylesheet", href="/css/check.css")
    script(src="/js/check.js")
    h3.checklist 
        section.input.ck
            form(method="POST")
                input.add_check(placeholder="할일입력",name="u_check",id="u_check")
                input.input_hidden(type="text",name="u_user",id="u_user")
                input.input_hidden(type="text",name="u_num",id="u_num")
                input.add(type="submit",value="추가")
        section.list.ck
                         button.delete