extends ../layout 

block content 
    link(rel="stylesheet", href="/css/list.css")
    script(src="/js/list.js")
    h1.book 도서정보
    table.book.list 
        thead 
            tr 
                th NO.
                th ISBN 
                th 도서명
                th 저자
                th 출판사
                th 가격
                th 할인가
        tbody 
                tr 
                    td #{index+1}
                    td = item.b_num 
                    td = item.b_isbn 
                    td = item.b_title 
                    td = item.b_author 
                    td = item.b_publisher 
                    td = item.b_price 
                    td = item.b_discount 
    div.book.btn_box
        a(href="/book/insert") 도서등록